body {
    background-image: url("https://callummclaughlin.files.wordpress.com/2014/09/education-books.jpg");
    background-color: #017199;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2, h1{
    font-family: 'Righteous', sans-serif;
}

#header{
    font-size: 3rem;
}

div {
     margin-top: 20px;
}

#results{
    font-style: italic;
    margin-top: 50px;
    text-align: center;
}

#videoResults{
    font-size: 10px;
    font-style: normal;
    margin-top: 30px;
    margin-left: 20px;
}

#showReservations{
    margin-left: 30px;
    display: table;
}